<extend name="5000/Index/Base" />
<block name="customer">
    <style>
        .media{margin-bottom: 30px;border-bottom: solid 1px #ddd;}
        .pcontent{line-height: 18pt; padding: 10px;}
        .price li{border: 0;background: #f5f5f5;padding: 0;}
        .pmeta{border-top:dashed 1px #DDDDDD;border-bottom:dashed 1px #DDDDDD}
        .pmeta li{border: 0;}
        ._pmeta li:hover{background: #f5f5f5;cursor: pointer;}
        .pbtn button{width: 160px}
        .pmetalist{margin-bottom: 10px;display: inline-block;}
        .pmetalist li{float: left;margin-right: 8px;padding: 6px 15px;}
        .pmetalist li a{font-style: normal;text-decoration: none;}
        .pmetalist li:hover{background: #f5f5f5;cursor: pointer;}
        .pmetalist .pm_name{border: 0;}
        .pmetalist .pm_name:hover{background: none;}
        .choseli{border-color: red;}
    </style>
    <script type="text/html" id="tpl_ptype">
        <li class="list-group-item ptype" im_id="{im_id}">
            <span><a href="#"  >{ptype}</a> </span>
        </li>
    </script>
    <script>
        var detail_data=[
                <foreach name="info_data_detail" item="info">
                [{$info.info_id},"{$info.im_key}","{$info.im_value}",{$info.im_pid},{$info.im_id}],
        </foreach>
        [-1,"",""]//防止低版本浏览器以（,）结尾报错
        ];
        $(document).ready(function () {
            $(".ptype").click(function () {
                //点击规格时，切换价格
                $(this).parents("ul").find("li").css("border-color","#ddd");
                $(this).css("border-color","red");
                var im_id=$(this).attr("im_id");//属性主键ID
                var get_meta1=getMetaByPID(im_id, "price1");//市场价
                var get_meta2=getMetaByPID(im_id, "price2");//优惠价

                if (parseFloat(get_meta1)>0 && parseFloat(get_meta2)>0)
                {
                    $("#meta_price1").html("￥"+"<del>"+get_meta1+"</del>");
                    $("#meta_price2").html("￥"+get_meta2);
                }
                else
                {
                    $("#meta_price1").html("￥"+"<del>"+getMeta({$info.info_id},"price1",0)+"</del>");
                    $("#meta_price2").html("￥"+getMeta({$info.info_id},"price2",0));
                }

                return false;
            })
        })
        function getMetaByPID(im_id, im_key)//根据父ID获取属性值
        {
            for(var i=0;i<detail_data.length;i++)
            {
                if ( parseInt(detail_data[i][3])==im_id && detail_data[i][1] == im_key)
                {
                    return detail_data[i][2];
                }
            }
            return 0;
        }
        function getMetaList(info_id,im_key,tpl_id) {
            var result="";
            var tpl_content=$("#"+tpl_id).html();//模板内容

            for(var i=0;i<detail_data.length;i++)
            {
                if (detail_data[i][0]==info_id && detail_data[i][1]==im_key)
                {
                    result+=tpl_content.replace("{"+im_key+"}", detail_data[i][2])
                    .replace("{im_id}",detail_data[i][4])
                }
            }
            return result;
        }
        function getMeta(info_id,im_key,def_val) {
            for(var i=0;i<detail_data.length;i++)
            {
                if (detail_data[i][0]==info_id && detail_data[i][1]==im_key && parseInt(detail_data[i][3])==0)
                {
                    return detail_data[i][2];
                }
            }
            return def_val;
        }

    </script>
    <div class="container">
        <div class="col-md-8 column">
            <foreach name="info_data_main" item="info">
                <div class="row">
                    <div class="page-header">
                        <h2>{$info.info_title}</h2>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <script>document.write("<img src='"+getMeta({$info.info_id},
                            "pimg","","__PUBLIC__/prod/none.jpg")+"'style='width:200px;height:200px'/>");</script>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <ul class="well list-group price">
                            <li class="list-group-item">
                                <span class="text-muted">市场价：</span>
                                <span id="meta_price1">￥<del><script>document.write(getMeta({$info.info_id},"price1",0));</script></del></span>
                            </li>
                            <li class="list-group-item">
                                <span class="text-muted">优惠价：</span>
                                <span class="text-danger" style="font-size: 30px" id="meta_price2">￥<script>document.write(getMeta({$info.info_id},"price2",0));</script></span>
                            </li>
                        </ul>

                        <ul class="col-md-10 col-md-offset-1 list-group list-inline text-center pmeta">
                            <li class="list-group-item">
                                <span class="text-danger">月销量:</span><span>1000</span>
                            </li>
                            <li class="list-group-item">
                                <span class="text-danger">人气数:</span><span><script>document.write(getMeta({$info.info_id},"views","",0));</script></span>
                            </li>
                        </ul>
                        <ul class="list-group list-inline text-center pmetalist">
                            <li class="list-group-item pm_name">
                                <span class="text-danger">规格:</span>
                            </li>
                            <script>document.write(getMetaList({$info.info_id},"ptype","tpl_ptype"));</script>
                        </ul>
                        <p class="text-center list-inline pbtn">
                            <button class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart">加入购物车</span></button>
                            <button class="btn btn-danger">立即购买</button>
                        </p>
                    </div>

                </div>
            </foreach>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">商品介绍</a></li>
                <li role="presentation" ><a href="#">规格包装</a></li>
                <li role="presentation" ><a href="#">评价</a></li>
                <li role="presentation" ><a href="#">配送范围</a></li>
            </ul>
            <p class="pcontent">
                {$info.info_content}
            </p>

        </div>
        <div class="col-md-4 column">
            {:W('Info/load',array(2))}
        </div>
    </div>
    <script>
        $(".nav-tabs li").click(function () {
            $(".nav-tabs li").removeClass("active");
            $(this).addClass("active");
            return false;
        })
    </script>



</block>